@font-face {
    font-family: Merriweather-regular;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/font/Merriweather-Regular.ttf);
    font-display: swap;
    }
@font-face {
    font-family: Merriweather-bold;
    font-style: bold;
    font-weight: 700;
    src: url(/assets/font/Merriweather-Bold.ttf);
    font-display: swap;
  }
  
*{
margin: 0;
padding: 0;
box-sizing: border-box;
transition: all 300ms ease-in-out;
scrollbar-width: none;
text-decoration: none;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
font-family:  Merriweather-regular, sans-serif;
font-size: 1.0rem;
line-height: 1.4;
color: var(--newColor);
}
*::-webkit-scrollbar {
display: none;
}
:root {
    --newColor:rgb(137, 95, 18);
    --fontColor:rgb(21 25 34);
    --bgdColor: #f1f5f8;
    --btnColor: rgba(91, 165, 201, 1);
    --white:#fff;
}
.column {
display: flex;
flex-direction: column;
}
.row {
display: flex;
flex-direction: row;
}
.flexWrap {
    flex-wrap: wrap;
}
.alItCent {
    align-items: center;
}
.justCoCent {
    justify-content: center;
}
.justySpEv {
justify-content: space-evenly;
}
.justySpBw {
    justify-content: space-between;
}
.marinCent {
    margin: 0 auto;
}
.clickItemsPadd {
padding: .8em;
cursor: pointer;
}
.boxSize {
    padding: 20px;
    width: 340px;
}
.marginTopOne {
    margin-top: 3rem;
}
.marginTopTwo {
    margin-top: 1.5rem;
}
.marginLeft2 {
    margin-left: 2rem;
}
.marginLeft1 {
    margin-left: 1rem;
}
.padding {
    padding: 6rem 0;
}
.paddingTopOne {
    padding-top: 3rem;
}
.paddingTopTwo {
    padding-top: 1.5rem;
}
.paddingLeftRight {
    padding: 0 2rem;
}
.fontBold {
    font-family: Merriweather-bold;
}
h1 {
    font-size: 2.5rem;
    font-family: Merriweather-bold;
}
h2 {
    font-size: 2rem;
    font-family: Merriweather-bold;
}
h3 {
    font-size: 1.5rem;
    font-family: Merriweather-bold;
}
.textUpper {
    text-transform: uppercase;
}
.textCent {
    text-align: center;
}
a {
  color: var(--fontColor);
}
a:hover {
    color: var(--btnColor);
}
li {
    list-style-type: none;
}
.maxWidth {
    max-width: 1366px;
    margin: 0 auto;
}
.width100 {
    width: 100%;
}
.heigh100{
    height: 100vh;
}
.containerWidth {
    width: 80%;
}
.svgImg {
    filter: invert(58%) sepia(7%) saturate(3092%) hue-rotate(129deg) brightness(98%) contrast(85%);
}
.svgImgBrown {
    filter: invert(32%) sepia(68%) saturate(574%) hue-rotate(0deg) brightness(100%) contrast(90%);
}
.svgImgWhite {
    filter: invert(95%) sepia(17%) saturate(38%) hue-rotate(158deg) brightness(100%) contrast(96%);
}
.btnAll {
    border: 1px solid rgb(208 209 211);
    text-align: center;
    width: 222px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.btnAll:hover {
    background-color: var(--bgdColor);

}
.btnWhite {
    background-color: var(--white);
    color: var(--fontColor);
    border: 1px solid rgb(208 209 211);
}
.btnWhite:hover {
    background-color: var(--bgdColor);
}
.btnTurq {
    color: var(--white);
    background-color: var(--btnColor);
}
.btnTurq:hover {
    background-color: rgba(67, 165, 161, 0.7);

}
.redColor {
    color: red;
}
.turkColor {
    color: var(--btnColor);
}
.cursorPoint {
    cursor: pointer;
}
/* body */
body {
    background-color: var(--white);
}
/* full page Section */
#fullPageSect {
    opacity: 0;
}
#fullPageSect.active {
    opacity: 1;
}
/* header  */
#header {
    position: relative;
    background-color: var(--bgdColor);
    padding: 1rem 0;
}
#rPHeadMenuCont {
    position: absolute;
    right: 0;
    padding: 0.7rem 0.7rem 0 0;
    z-index: 10;
}
#menuArrow, #toolsArrow {
    rotate: 0deg;
}
#menuArrow.active, #toolsArrow.active {
    rotate: 180deg;
}
#header2Lev {
    height: 0rem;
    overflow: hidden;
}
#header2Lev.active {
    height: 3.4rem;
    overflow: visible;
}

/* main */
#main {
    border-top: 3px solid var(--white);
}
/* leftPanel */
#leftPanel {
    height: 100vh;
    width: 20%;
    background-color: rgba(91, 165, 201, 0.3);
    color: var(--newColor);
    padding-left: 0.2rem;
    padding-top: 3rem;
}
.olbox {
    margin-left: 10px;
    padding: 0.5rem 0rem;
}
.imgLeftPanel {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.liLeftPanel {
    cursor: pointer;
}
[data-target] {
    padding-left: 10px;
    width: 90%;
    border-radius: 6px 6px 0px 0px;
}
[data-target].active {
    background-color: var(--bgdColor);
}
.beginEnd {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
}
.beginEnd.active {
    position: relative;
    z-index: 2;
    max-height: 40px;
    opacity: 1;
}
.groupsTools {
    padding: 5px;
    width: 90%;
    border-radius:0px 0px 6px 6px;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
}
.groupToolsBtn {
    padding: 4px 6px;
}
.groupToolsBtn:hover {
    background-color: rgba(91, 165, 201, 0.3);
    border-radius: 4px;
    cursor: pointer;
}
.contextmenuBtn {
    width: 5rem;
    text-align: center;
}
.contextmenuBtn:hover {
    background-color: var(--bgdColor);
}
.groupsTools.active {
    background-color: var(--bgdColor);
    max-height: 50px;
    opacity: 1;
}
.imgConstruct {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
/* centerPanel */
#centerPanel {
    overflow: hidden;
    height: 100vh;
    width: 0%;
    background-color: var(--bgdColor);
    border-right: 3px solid var(--white);
}
#centerPanel.active {
    width: 30%;
}
.centerPanelDiv {
    position: absolute;
    opacity: 0;
    z-index: 0;
    top: 1900px;
    margin: 0.5rem;
    max-height: 0px;
    overflow: hidden;
}
.centerPanelDiv.active {
    width: 18rem;
    border-radius: 6px;
    opacity: 1;
    top: auto;
    z-index: 1;
    max-height: 2000px;
}
[data-entries].marked {
    width: 18rem;
    border-radius: 6px;
    background-color: rgba(91, 165, 201, 0.3);
}
.centerPanelSpan{
    margin-top: 5px;
}
.centerPanelSpanBold {
    font-weight: bold;
    padding-left: 10px;
}
.centerPanmarginBottom {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
/* rightPanel */
#rightPanel {
    height: 100vh;
    width: 0%;
    overflow: hidden;
    background-color: var(--bgdColor);
}
#rightPanel.active {
    width: 50%;
}
.rightPanelDiv {
    position: absolute;
    top: 1900px;
    z-index: 0;
    overflow: hidden;
    opacity: 0;
    max-height: 0px;
    width: 80%;
    margin: 0.5rem;
}
.rightPanelDiv.active {
    top: auto;
    opacity: 1;
    z-index: 1;
    max-height: 2000px;
}
.entriesTitle {
    font-size: 1.3rem;
    font-weight: 700;
}
.rightPanelTableTag {
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
}
.rightPanelTr {
    margin-bottom: 5px;
}
.rightPanelTd:nth-child(1) {
    width: 8rem;
    text-align: end;
    margin-right: 20px;
}
.rightPanelTd:nth-child(2) {
    text-align: left;
    margin-left: 10px;
}
#rPHeader {
    padding: 1rem;
    border-bottom: 3px solid var(--white);
}
#searchCont {
    background-color: var(--white);
    border-radius: 14px;
}
input {
    width: 222px;
    padding: 0.9rem;
    border: none;
    background-color: var(--white);
    border-radius: 14px;
 }
 input:focus {
    outline: none;
    /* border-bottom: 2px solid var(--btnColor); */
 }

/* input panel */

#inputPanel {
    width: 0%;
    height: 100vh;
    background-color: var(--bgdColor);
    border-right: 3px solid var(--white);

}
#inputPanel.active {
    width: 80%;
}


/* menu styles */

#profPic {
    /* margin-top: 0.8em; */
}
#menuUl {
    height: 40px;
    overflow: hidden;
    background-color: var(--bgdColor);
}
#menuUl.active {
    height: 250px;
    overflow: scroll;
}
.lis {
    padding: 0.8em 0.5rem 0.2rem 0.5rem;
    color: rgb(40 69 83);
    border-bottom: 1px solid var(--btnColor);
}
/* main stules */
#groups{
    width: 30%;
    border-right: 2px solid var(--white);
}
#rPMain {
    height: 100%;
}

/* wrong panel */
#wrongPanel {
    padding: 1rem;
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    z-index: 0;
    min-height: 0rem;
    min-width: 10rem;
    opacity: 0;
    overflow: hidden;
    background-color: rgba(91, 165, 201, 0.3);
    border: 2px solid rgba(67, 165, 161, 0.7);
    border-radius: 4px;
    box-shadow: 1px 10px 21px rgba(91, 165, 201, 0.3);
}

#wrongPanel.active, #contextMenu.active {
    z-index: 20;
    min-height: 5rem;
    opacity: 1;
}
#contextMenu {
    padding: 1rem;
    position: absolute;
    left: -200px;
    z-index: 0;
    min-height: 0rem;
    min-width: 10rem;
    opacity: 0;
    overflow: hidden;
    background-color: rgba(91, 165, 201, 1);
    border: 2px solid rgba(67, 165, 161, 0.7);
    border-radius: 4px;
    box-shadow: 1px 10px 21px rgba(91, 165, 201, 0.3);
}


/* input panel all actions */

.groupActions {
    margin: 1rem;
}

.btnActions {
    margin-right: 6rem;
}

.selectedMenu {
    margin: 1rem 0;
}
.inputLabels {
    margin-right: 2rem;
}
.selectGroupAction {
    text-align: center;
    width: 10rem;
}
/* input Panel delete group */


.inputSectionH2 {
    margin: 1rem 0;
}
.inputSectionH3 {
    margin: 1rem 0;
}
#deleteBtnDiv {
    margin: 1rem 0;
}

#addExpDiv {
    height: 0px;
    min-height: 0px;
    overflow: hidden;
    opacity: 0;
}
#addExpDiv.active {
    min-height: 3rem;
    opacity: 1;
}
input[type='checkbox'] {
    width: 20px;
    height: 20px;
    padding: 5px;
    border: none;
}
input[type='checkbox']:checked {
    background-color: rgb(137, 95, 18);
}
.inputDiv {
    margin: 1rem 0;
}